appnope
asttokens
backcall
black
clic
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
numpy
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
ppscore
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
six
stack-data
threadpoolctl
tomli
torch
torchvision
torchaudio
tornado
traitlets
typing_extensions
wcwidth
zipp
